<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>MyWebProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
	<context-param>
		<param-name>username</param-name>
		<param-value>context</param-value>
	</context-param>
	<context-param>
		<param-name>password</param-name>
		<param-value>root</param-value>
	</context-param>
  
  
	<servlet>
		<servlet-name>HelloServlet</servlet-name>
		<servlet-class>com.atguigu.servlet.HelloServlet</servlet-class>
		<init-param>
			<param-name>username</param-name>
			<param-value>root</param-value>
		</init-param>
		<init-param>
			<param-name>url</param-name>
			<param-value>jdbc:mysql://localhost:3306/test</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>HelloServlet</servlet-name>
		<url-pattern>/hello</url-pattern>
	</servlet-mapping>
  
  
  
	<servlet>
		<servlet-name>HelloServlet2</servlet-name>
		<servlet-class>com.atguigu.servlet.HelloServlet2</servlet-class>
		<init-param>
			<param-name>username</param-name>
			<param-value>root2</param-value>
		</init-param>
		<init-param>
			<param-name>url</param-name>
			<param-value>jdbc:mysql://localhost:3306/test2</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>HelloServlet2</servlet-name>
		<url-pattern>/hello2</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>HelloServlet3</servlet-name>
		<servlet-class>com.atguigu.servlet.HelloServlet3</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HelloServlet3</servlet-name>
		<url-pattern>/hello3</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ContextServlet</servlet-name>
		<servlet-class>com.atguigu.servlet.ContextServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ContextServlet</servlet-name>
		<url-pattern>/ContextServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ContextServlet1</servlet-name>
		<servlet-class>com.atguigu.servlet.ContextServlet1</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ContextServlet1</servlet-name>
		<url-pattern>/Context1</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ContextServlet2</servlet-name>
		<servlet-class>com.atguigu.servlet.ContextServlet2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ContextServlet2</servlet-name>
		<url-pattern>/Context2</url-pattern>
	</servlet-mapping>
</web-app>
